/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital@1&family=Open+Sans:wght@300&display=swap');;

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

header {
  background: url(https://images7.alphacoders.com/858/thumb-1920-858236.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

header h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
  color: #fff;
  padding: 100px 0;
  text-shadow: 0cap;
  text-shadow:  1px 1px 1px #FFF, 2px 2px 2px #111,
  6px 6px 4px #222
}

.contenedor {

  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}

.contenedor .contenedor-items{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  padding: 10px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}

.contenedor-items .item .img-item {
  width: 150px;
}

.contenedor-items .item:hover {
  cursor: pointer;
  width: 300px;
  filter: contrast(120%);
  flex-grow: 1;
  object-fit: cover;
  scale: 1.05

}

.contenedor-items .item .titulo-item{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor-items .item .precio-item {
display: block;
text-align: center;
font-weight: bold;
font-size: 22px;
}

.contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: red ;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
